<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <Name>Esri2Open Add-In</Name>
  <AddInID>{dd6dff0f-4d31-4659-b1e0-cbcfe6a192d7}</AddInID>
  <Description>Export ArcGIS data to web-friendly formats: GeoJSON,
  CSV, SQLite, and JSON.</Description>
  <Version>0.1</Version>
  <Image>Images\esri2open-logo_32x32.png</Image>
  <Author />
  <Company />
  <Date>06/27/2013</Date>
  <Targets>
    <Target name="Desktop" version="10.1" />
  </Targets>
  <AddIn language="PYTHON" library="esriopenaddin_addin.py"
  namespace="esriopenaddin_addin">
    <ArcMap>
      <Commands>
        <Button caption="Convert Single File" category="Esri2Open Add-In"
        class="OpenStandard" id="esriopenaddin_standard.button"
        image="" message="" tip="Export data to GeoJSON, CSV, SQLite, and JSON.">
          <Help heading="" />
        </Button>
        <Button caption="Merge and Convert"
        category="Esri2Open Add-In" class="OpenMerge"
        id="esriopenaddin_merge.button" image="" message="Merge a set of feature classes into a single GeoJSON, CSV, SQLite or JSON output."
        tip="">
          <Help heading="" />
        </Button>
        <Button caption="Convert Multiple Files"
        category="Esri2Open Add-In" class="OpenMultiple"
        id="esriopenaddin_multiple.button" image="" message="Export individual feature classes into GeoJSON, CSV, SQLite or JSON."
        tip="">
          <Help heading="" />
        </Button>
      </Commands>
      <Extensions></Extensions>
      <Toolbars>
        <Toolbar caption="Esri2Open" category="Esri2Open Add-In"
        id="esriopenaddin_addin.toolbar" showInitially="true">
          <Items>
            <Menu refID="esriopenaddin_addin.menu" />
          </Items>
        </Toolbar>
      </Toolbars>
      <Menus>
        <Menu caption="esri2open" category="Esri2Open Add-In"
        id="esriopenaddin_addin.menu" isRootMenu="false"
        isShortcutMenu="false" separator="false">
          <Items>
            <Button refID="esriopenaddin_standard.button" />
            <Button refID="esriopenaddin_merge.button" />
            <Button refID="esriopenaddin_multiple.button" />
          </Items>
        </Menu>
      </Menus>
    </ArcMap>
  </AddIn>
</ESRI.Configuration>
